* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlord {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

img {
  width: 300px;
}

.card {
  /* max-width: 300px; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.content {
  background-color: white;
}

.content > * {
  margin: 10px 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: rgb(57, 91, 204);
  padding: 20px;
}

button {
  width: 100%;
  padding: 5px;
}

.content {
  padding: 20px;
}

.collection-container {
  display: flex;
  background: rgb(86, 45, 161);
  padding: 20px;
}

/* ! rarety classes */

.common {
  border: 4px solid gray;
}

.uncommon {
  border: 4px solid lightgreen;
}

.rare {
  border: 4px solid blue;
}

.legendary {
  border: 4px solid orange;
}
